
/*初期設定*/
body {
  width: auto;
  margin: 0;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "メイリオ", "MS Pゴシック", sans-serif;
  font-weight: bold;
}

h1, h2, h3, h4, h5, div, ul, li, section, main, img {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 5%;
  padding-bottom: 56px;
}

.hidden {
  display: none;
}

main > section:nth-child(odd){
  background: rgba(180, 180, 180, .1);
}

main > section:nth-child(even){
  background: rgba(120, 120, 120, .2);
}

/* header */

.fixed-header {
  display: flex;
  height: 48px;
  width: 94%;
  padding: 0 3%; 
  align-items: center;
  position: fixed;
  background: rgba(255, 255, 255, .8);
  z-index: 1;
}

.menu-open {
  cursor: pointer;
  display: none;
}

.header-rink {
  flex: 1;
  text-align: center;
  height: 40px;
  padding-top: 8px;
  border: 1px solid rgba(80, 80, 80, .1);
  border-radius: 4px;
}

.header-rink > a {
  color: gray;
} 

.header-rink:hover {
  background-color: rgba(180, 180, 180, .1);
}

.header-home {
  margin-left: 8px;
}

.theme-color {
  margin-left: 24px;
}

.theme-color > img {
  height: 16px;
  width: 16px;
  border: 1px solid gray;
  text-decoration: none;
}

#menu {
  width: 100%;
  background: white;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  transition: opacity .5s;
}

#menu.show {
  opacity: .95;
  pointer-events: auto;
}

#close {
  display: block;
  margin-left: 2%;
  height: 40px;
  cursor: pointer;
}

.menu-items{ 
  list-style: none;
  width: 100%;
}

#menu li {
  height: 48px;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  transform: translateY(-16px);
  transition: transform .5s;
}

#menu.show li {
  transform: none;
}

.menu-items > li > a {
  text-decoration: none;
  color: gray;
}

#menu li:hover {
  background-color: rgba(180, 180, 180, .1);
}

@media (max-width: 900px) {
  .header-rink {
    display: none;
  }

  .header-home, .menu-open{
    display: block;
  }
}

/* main */

.seo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.back-text {
  font-size: 24px;
  color: rgba(112, 112, 112, .6);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
} 

/* home */

#home {
  margin-top: 0;
}

#home h5 {
  font-size: 32px;
  text-align: center;
  transform: rotate(-5deg);
  opacity: .6;
  color: rgba(40, 40, 40, .8);
}

.initial-w {
  color: black;
}

.initial-e {
  color: black;
}

.carousel {
  width: 80%;
  height: calc(width * 1.7);
  margin: 40px 10% auto 10%;
  overflow: hidden;
  position: relative;
}

.carousel-list {
  list-style: none;
  height: 100%;
  display: flex;
  transition: transform .8s;
}

.carousel li {
  height: 100%;
  min-width: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

#prev, #next {
  color: white;
  background: rgba(0, 0, 0, .2);
  width: 6%;
  height: 8%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

#next:hover, #prev:hover {
  opacity: .5;
}


/* about */

#about h4 {
  text-align: center;
  margin: 24px auto;
  font-size: 20px;
  background: rgba(80, 80, 80, .2);
}

#about p {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  border-bottom: 2px solid black;
}

#about a {
  text-align: center;
  display: block;
  margin: 16px auto;
}

/* skills */

.skills-detail {
  list-style: none;
  display: flex;
}

.skills-type {
  display: block;
  padding: 8px;
  border: 1px solid gray;
  border-bottom: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  flex: auto;
  text-align: center;
}

.skills-type a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.skills-content {
  display: none;
  padding: 12px;
  border: 1px solid gray;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 4px 4px rgba(0, 0, 0, .2);
}

.active {
  display: block;
  background: rgba(232, 165, 165, .5);
}

.skills-content > div {
  display: flex;
  text-align: center;
}

.skills-content > div > div {
  flex: 1;
  margin: 8px;
  background: rgba(80, 80, 80, .2);
}

.standardization {
  margin: 32px 8% auto 8%;
  background: rgb(222, 221,221);
  border: 1px solid gray;
  border-radius: 8px;
}

.standard {
  text-align: center;
  font-size: 18px;
}

.level {
  list-style: none;
}

.level li {
  display: inline-block;
  margin: 4px 16px;
}

/* works */

#works .container > div > p {
  text-align: center;
  font-size: 18px;
  background: rgba(80, 80, 80, .2);
}

#works .container > div > a {
  display: block;
  text-align: center;
  font-size: 14px;
}

.portfolio-history {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-history > div {
  flex: 1;
  margin: 8px;
  padding: 0px 16px;
  min-width: 160px;
  max-width: 360px;
  text-align: center;
  border: 2px solid gray;
  border-radius: 16px;
}

.portfolio-history span {
  border-bottom: 1px solid gray;
}

h6 {
  font-size: 20px;
}

/* contact */

#contact .container {
  height: 400px;
}

#contact .container > p {
  text-align: center;
}

.fa-twitter {
  padding: 4px;
}

/* footer */

footer {
  background-color: white;
}

footer .container {
  margin-top: 32px;
  display: flex;
}

.foot { 
  width: 50%;
  text-align: center;
}

.footer-menu {
  list-style: none;
}

.footer-item {
  display: block;
  padding: 8px 0px;
  color: gray;
}

.footer-item:hover {
  background: rgb(224, 225, 221);
}

